In [47]:
import pandas as pd
from IPython.display import clear_output

cols = []
with open('cols.txt', 'r') as f:
    cols = f.read()

In [48]:
cols = cols.split('\n')

In [49]:
cols

['play_id',
 'game_id',
 'home_team',
 'away_team',
 'posteam',
 'defteam',
 'yardline_100',
 'game_date',
 'game_seconds_remaining',
 'drive',
 'sp',
 'down',
 'goal_to_go',
 'ydstogo',
 'ydsnet',
 'desc',
 'play_type',
 'yards_gained',
 'field_goal_result',
 'away_timeouts_remaining',
 'td_team',
 'total_home_score',
 'total_away_score',
 'punt_blocked',
 'third_down_converted',
 'third_down_failed',
 'fourth_down_converted',
 'interception',
 'fumble_lost',
 'touchdown',
 'field_goal_attempt',
 'kickoff_attempt',
 'punt_attempt',
 'fumble',
 'return_team',
 'home_timeouts_remaining']

In [50]:
plays = pd.read_csv('play_by_play/NFL Play by Play 2009-2018 (v5).csv', nrows = 3000, usecols = cols)
hist = pd.read_csv('historical_results/spreadspoke_scores.csv')

In [52]:
plays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 36 columns):
play_id                    3000 non-null int64
game_id                    3000 non-null int64
home_team                  3000 non-null object
away_team                  3000 non-null object
posteam                    2899 non-null object
defteam                    2902 non-null object
yardline_100               2899 non-null float64
game_date                  3000 non-null object
game_seconds_remaining     2998 non-null float64
drive                      3000 non-null int64
sp                         3000 non-null int64
down                       2546 non-null float64
goal_to_go                 2902 non-null float64
ydstogo                    3000 non-null int64
ydsnet                     3000 non-null int64
desc                       3000 non-null object
play_type                  2902 non-null object
yards_gained               3000 non-null int64
field_goal_result          59 non-null object
home_timeouts_remaining    3000 non-null int64
away_timeouts_remaining    3000 non-null int64
td_team                    83 non-null object
total_home_score           3000 non-null int64
total_away_score           3000 non-null int64
punt_blocked               2902 non-null float64
third_down_converted       2902 non-null float64
third_down_failed          2902 non-null float64
fourth_down_converted      2902 non-null float64
interception               2902 non-null float64
fumble_lost                2902 non-null float64
touchdown                  2902 non-null float64
field_goal_attempt         2902 non-null float64
kickoff_attempt            2902 non-null float64
punt_attempt               2902 non-null float64
fumble                     2902 non-null float64
return_team                245 non-null object
dtypes: float64(15), int64(11), object(10)
memory usage: 843.9+ KB

In [57]:
plays['punt_attempt'].value_counts()

0.0    2740
1.0     162
Name: punt_attempt, dtype: int64

In [58]:
plays[['game_id', 'drive', 'down']].head(20)

       game_id  drive  down
0   2009091000      1   NaN
1   2009091000      1   1.0
2   2009091000      1   2.0
3   2009091000      1   3.0
4   2009091000      1   4.0
5   2009091000      2   1.0
6   2009091000      2   2.0
7   2009091000      2   3.0
8   2009091000      2   4.0
9   2009091000      3   1.0
10  2009091000      3   2.0
11  2009091000      3   1.0
12  2009091000      3   2.0
13  2009091000      3   3.0
14  2009091000      3   4.0
15  2009091000      4   1.0
16  2009091000      4   1.0
17  2009091000      4   1.0
18  2009091000      4   2.0
19  2009091000      4   3.0

In [23]:
with open('cols.txt', 'w') as f:
    f.write(str(cols))

In [15]:
cols = []
for c in plays.columns:
    print(c)
    print(plays[c][:5])
    answer = input('Keep? (y/n): ')
    if answer == 'y':
        cols.append(c)
    clear_output(wait = True)

defensive_extra_point_conv
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: defensive_extra_point_conv, dtype: float64
Keep? (y/n): n